PHPMYADMIN_PORT=8881
HTTPS_PORT=9999
HTTP_PORT=8888
FORWARDED_HTTP_PORT=80
FORWARDED_HTTPS_PORT=443

SHARED_USER=riccardo
SHARED_GROUP=riccardo
SHARED_UID=1000
SHARED_GID=1000

DEBUG=true
HTTPS=true

PHPFPM_PORT=9000
PHPFPM_SERVICE_NAME=wpv1-php-service
PHPFPM_MAX_CHILDREN=4
PHPFPM_PM=static

PHP_UPLOAD_MAX_FILESIZE=8M
PHP_POST_MAX_SIZE=2M
PHP_MAX_INPUT_TIME=300
PHP_MEMORY_LIMIT=32M
PHP_MAX_EXECUTION_TIME=30

MYSQL_ROOT=root
MYSQL_ROOT_PASSWORD=password

WORDPRESS_LOCALE=it_IT
WORDPRESS_VERSION=latest
WORDPRESS_DIR="/var/www/html"
WORDPRESS_THEME_DIR=
WORDPRESS_IMPORT_FILE=
WORDPRESS_URL="https://localhost:9999"
WORDPRESS_TITLE="test wp install cli"
WORDPRESS_ADMIN_USER=cody
WORDPRESS_ADMIN_PASSWORD=password
WORDPRESS_ADMIN_EMAIL="me@mysite.me"
WORDPRESS_DB_NAME=wpv1
WORDPRESS_DB_HOST=wpv1-mariadb-service
WORDPRESS_DB_USER=wpv1-user
WORDPRESS_DB_PASSWORD="password"
WORDPRESS_TABLE_PREFIX=wp_
